[submodule "src/mavlink"]
	path = src/mavlink
	url = https://github.com/mavlink/mavlink-gbp-release.git
[submodule "src/mavros"]
	path = src/mavros
	url = https://github.com/mavlink/mavros.git
[submodule "src/ORB_SLAM3"]
	path = src/orbslam3-ros/ORB_SLAM3
	url = https://github.com/owdevel/jetson-orbslam.git
[submodule "src/rosboard"]
	path = src/rosboard
	url = https://github.com/dheera/rosboard.git
[submodule "cpu_monitor"]
	path = src/cpu_monitor
	url = https://github.com/alspitz/cpu_monitor.git
[submodule "src/realsense-ros"]
	path = src/realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros.git
[submodule "vision_opencv"]
	path = src/vision_opencv
	url = https://github.com/fizyr-forks/vision_opencv.git
